*.pkl
all.log

cdfmetafile/sp_phys_cdfmetafile.*

master_resolved/master_resolved.log
cadence/cadence.log
hapi/hapi.log
hapi/info/*error*
hapi/catalog-all.*
hapi/combined.*

partial/.git/objects/pack/pack-20981f5eed4fe34c1f3529276c445fdf911b450c.pack
.git/objects/pack/pack-407957053d6ab5a397d92932e3dd999733cb56ad.pack
hapi/catalog-all.json
hapi/hapi.log
master_resolved/master_resolved.log
cdfmetafile/sp_phys_cdfmetafile.txt
.git/objects/pack/pack-20981f5eed4fe34c1f3529276c445fdf911b450c.pack
.git/objects/pack/pack-407957053d6ab5a397d92932e3dd999733cb56ad.pack
hapi/catalog-all.json
hapi/hapi.log
master_resolved/master_resolved.log
cdfmetafile/sp_phys_cdfmetafile.txt
.git/objects/pack/pack-20981f5eed4fe34c1f3529276c445fdf911b450c.pack
.git/objects/pack/pack-407957053d6ab5a397d92932e3dd999733cb56ad.pack
hapi/catalog-all.json
hapi/hapi.log
master_resolved/master_resolved.log
cdfmetafile/sp_phys_cdfmetafile.txt
.git/objects/pack/pack-20981f5eed4fe34c1f3529276c445fdf911b450c.pack
.git/objects/pack/pack-407957053d6ab5a397d92932e3dd999733cb56ad.pack
hapi/catalog-all.json
hapi/hapi.log
master_resolved/master_resolved.log
cdfmetafile/sp_phys_cdfmetafile.txt
.git/objects/pack/pack-20981f5eed4fe34c1f3529276c445fdf911b450c.pack
.git/objects/pack/pack-407957053d6ab5a397d92932e3dd999733cb56ad.pack
hapi/catalog-all.json
hapi/hapi.log
master_resolved/master_resolved.log
cdfmetafile/sp_phys_cdfmetafile.txt
.git/objects/pack/pack-20981f5eed4fe34c1f3529276c445fdf911b450c.pack
.git/objects/pack/pack-407957053d6ab5a397d92932e3dd999733cb56ad.pack
hapi/catalog-all.json
hapi/hapi.log
master_resolved/master_resolved.log
cdfmetafile/sp_phys_cdfmetafile.txt
.git/objects/pack/pack-20981f5eed4fe34c1f3529276c445fdf911b450c.pack
.git/objects/pack/pack-407957053d6ab5a397d92932e3dd999733cb56ad.pack
.git/objects/pack/pack-e24ee2ce4721f711da34695c89d286a6d266130e.pack
hapi/catalog-all.json
hapi/hapi.log
master_resolved/master_resolved.log
cdfmetafile/sp_phys_cdfmetafile.txt
